:root { box-sizing: border-box; }
*, *::before, *::after, *::marker { box-sizing: inherit; }

body, html {
    margin:0;
    width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
    overflow-x: hidden;
    position: relative;
}

body {
    background-color: #F1F0EA;
    color: #453546;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.strong {
    font-weight: 500;
}

.serif-text {
    font-family: "Libre Baskerville", serif;
}

.sans-serif-text {
    font-family: "Work Sans", sans-serif;
}

.container {
    width: 100%;
    margin: 0;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: inherit;
    position: relative;
}

.header-wrapper {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    font-size: 0.85rem;
    background-color: #F1F0EA;
    padding: 0;
    margin: 0;
}

.header-top-phone {
    background-color: white;
    border-top-right-radius: 8px;
}

/* .header-top-phone, .header-top-finra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 0 2rem;
} */

.header-top-finra {
    display: none;
}

.header-top-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 0 2rem;
}

.header-top-phone > a {
    color: #817f79;
    font-weight: 500;
}

.header-top-phone > svg {
    align-self: center;
}

.header-top-finra > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 8rem;
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    background-color: white;
    padding: 0 2rem;
}

.header-img {
    width: 200px;
    display: flex;
    justify-content: end;
}

.header-img > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.header-navbar {
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-navbar > ul {
    margin: 0;
    padding: 0;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;

    list-style-type: none;
}

.header-navbar > ul > li {
    margin-left: 50px;
}

.header-navbar-link {
    color: #453546;
    letter-spacing: normal;
}

.header-navbar-link:hover {
    color: black;
}

.request-btn {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: normal;
    background-color: #025DB7;
    color: white;
    padding: 1rem;
    border-radius: 0.4rem;
}

.request-btn:hover {
    background-color: #05409f;
}

/* navbar dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: #dfdccc;
    border-radius: 5px;
    color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F1F0EA;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    height: auto;
}

.footer {
    background-color: #2a333b;
    color: #8b98a5;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 4rem 3rem 4rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.footer-logo > img {
    width: 100%;
}

.footer-copyright > a {
    color: inherit;
    text-decoration: none;
}