:root { box-sizing: border-box; }
*, *::before, *::after, *::marker { box-sizing: inherit; }

body, html {
    margin:0;
    width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
    overflow-x: hidden;
    position: relative;
}

body {
    background-color: #F1F0EA;
    color: #453546;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 30px;
}

a {
    text-decoration: none;
}

.strong {
    font-weight: 500;
}

.serif-text {
    font-family: "Libre Baskerville", serif;
}

.sans-serif-text {
    font-family: "Work Sans", sans-serif;
}

.tiny-text {
    font-size: 0.8rem;
    font-weight: 500;
}

.container {
    width: 100%;
    margin: 0;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: inherit;
    position: relative;
}

.header-wrapper {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 10;
    background-color: white;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    font-size: 0.85rem;
    background-color: #F1F0EA;
    padding: 0;
    margin: 0;
}

.header-top-phone {
    background-color: white;
    border-top-right-radius: 8px;
}

.header-top-phone, .header-top-finra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 0 2rem;
}

.header-top-phone > a {
    color: #817f79;
    font-weight: 500;
}

.header-top-phone > svg {
    align-self: center;
}

.header-top-finra > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 8rem;
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    background-color: white;
    padding: 0 2rem;
}

.header-img {
    width: 200px;
    display: flex;
    justify-content: end;
}

.header-img > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.header-navbar {
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-navbar > ul {
    margin: 0;
    padding: 0;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;

    list-style-type: none;
}

.header-navbar > ul > li {
    margin-left: 50px;
}

.header-navbar-link {
    color: #453546;
    letter-spacing: normal;
}

.header-navbar-link:hover {
    color: black;
}

.request-btn {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: normal;
    background-color: #025DB7;
    color: white;
    padding: 1rem;
    border-radius: 0.4rem;
}

.request-btn:hover {
    background-color: #05409f;
}

/* scrolling headlines section */
.scrolling-wrapper {
    display: none;
    /* margin-top: 10rem; */
    height: 2.5rem;
    font-weight: 500;
    font-size: 0.8rem;
    max-width: 100%;
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 30s linear infinite;
}

.marquee p {
    display: inline-block;
}
  
@keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
}

/* navbar dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: #dfdccc;
    border-radius: 5px;
    color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F1F0EA;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    height: auto;
}

.intro-section {
    margin-top: 11rem;
    width: 100%;
    height: 50%;
    /* margin: 0; */
    padding: 0;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    background: rgb(34,125,194);
}

.intro-section > .intro-img {
    width: 30%;
    margin: 0;
    padding: 0;
    background-image: url("images/sanfrancisco.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.intro-section > .intro-img > img {
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
    vertical-align: bottom;
}

.intro-section > .intro-text-wrapper {
    width: 70%;
    height: auto;
    padding: 6rem 4rem 4rem 4rem;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2rem;
    color: white;
    letter-spacing: 1.25px;
    font-weight: 400;
    font-family: "Libre Baskerville", serif;
}

.bold-text {
    font-weight: 500;
    font-size: 48px;
}

.intro-big-text {
    line-height: 60px;
}

.intro-horizontal-line {
    width: 100%;
    margin: 1rem 0;
}

.intro-small-text {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    letter-spacing: normal;
    width: 100%;
}

.intro-request-btn {
    margin-top: 4rem;
    height: auto;
}

.services-section {
    width: 100%;
    padding: 8rem 15%;
    row-gap: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: rgb(57, 109, 140);
    background-image: 
        linear-gradient(
        /* rgba(0, 31, 63, 0.35), 
        rgba(0, 31, 63, 1.0) */
        rgba(0,0,0,0), 
        rgba(57, 109, 140, 1.0)
        ),
        url("images/sf-city-landscape.jpg")
    ;

    background-attachment: fixed; /* parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service {
    width: 30%;
    min-width: 15rem;
    height: 15rem;
    /* margin: 0 10%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #001F3F;
    background-color: #00254a;
    border-radius: 10px;
}

.service:hover {
    /* box-shadow: 10px 10px 8px #001326; */
}

.service > svg {
    height: 70%;
}

.service > a {
    height: 30%;
    text-align: center;
    color: white;
}

.contact-section {
    background-color: #3A6D8C;
    background-size: cover; 
    color: white;
    padding: 6rem 4rem;
    margin-top: -5px;
}

.contact-big-text {
    font-size: 1.5rem;
}

.contact-small-text {
    margin-top: 30px;
    font-weight: 300;
}

.contact-form-wrapper {
    width: 100%;
    margin-top: 3rem;
}

.contact-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact-form > .form-name, .contact-form > .form-email {
    width: 45%;
}

.form-name > input, .form-email > input, .form-content > textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: inherit;
    resize: none;
    background-color: #f4f3f0;
    background-color: white;
    color: #453546;
}

.contact-form > .form-content {
    width: 100%;
}

.contact-form > .form-button > button {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    letter-spacing: normal;
    color: #F1F0EA;
    background-color: #25465a;
    padding: 1rem;
    border-radius: 0.4rem;
    border:none;
}

.contact-form > button:hover {
    background-color: #05409f;
    color: white;
}

.about-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 8rem 4rem;
}

.about-img-wrapper, .about-contact-wrapper, .about-bio-wrapper {
    padding: 0 1.5rem;
}

.about-img-wrapper {
    width: 25%;
}

.about-img-wrapper > img {
    width: 100%;
    /* filter: sepia(20%); */
}

.about-contact-wrapper {
    width: 25%;
}

.about-bio-wrapper {
    width: 50%;
    border-left: 2px solid #cdcab5;
    /* padding: 0 2rem; */
}

.about-bio-wrapper > p {
    margin: 0;
    padding: 0;
}

.about-bio-wrapper > .read-more-btn {
    text-decoration: none;
    color: #453546;
    background-color: #dfdccc;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.about-bio-wrapper > .read-more-btn:hover {
    background-color: #cdcab5;
}

.contact-big {
    font-size: 1.5rem;
}

.contact-small > a {
    font-size: 1rem;
    color: rgb(111, 108, 94);
}

.contact-social {
    padding:0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.contact-social > a {
    margin:0;
    padding:0;
    margin-right: -20px;
    min-width: 50px;
}

.contact-social > a:hover, .contact-small > a:hover {
    opacity: 0.7;
} 

#brown-linkedin-icon {
    width: 50%;
}

#brown-email-icon {
    width: 70%;
}


.footer {
    background-color: #2a333b;
    color: #8b98a5;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 4rem 3rem 4rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.footer-logo > img {
    width: 100%;
}

.footer-copyright > a {
    color: inherit;
    text-decoration: none;
}